{% macro modal(t_bbs, bbs, title) -%}
<button type="button" class="btn btn-outline-info waves-effect"  data-toggle="modal" data-target="#{{t_bbs}}">
    <a href="perform/{{bbs}}">    
    상세보기
    </a>
</button>
<div class="modal fade" id="{{bbs}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="exampleModalLabel">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class= "row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 text-left">
                              아이디 &emsp;&emsp User02 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}