<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <!-- Navbar brand -->
        <span class="navbar-brand">상세검색</span>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapsible content -->
          
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Show All
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> &nbsp 지역
                </a>
             
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">서울/경기</a>
                    <a class="dropdown-item" href="#">인천</a>
                    <a class="dropdown-item" href="#">강원</a>
                    <a class="dropdown-item" href="#">충북</a>
                    <a class="dropdown-item" href="#">충남</a>
                    <a class="dropdown-item" href="#">경북</a>
                    <a class="dropdown-item" href="#">경남</a>
                    <a class="dropdown-item" href="#">전북</a>
                    <a class="dropdown-item" href="#">전남</a>
                    <a class="dropdown-item" href="#">제주</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> &nbsp 파트
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">현악기</a>
                    <a class="dropdown-item" href="#">관악기</a>
                    <a class="dropdown-item" href="#">타악기</a>
                    <a class="dropdown-item" href="#">성악</a>
                    <a class="dropdown-item" href="#">피아노</a>
                    <a class="dropdown-item" href="#">작곡</a>
                    <a class="dropdown-item" href="#">지휘</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> &nbsp 최신순
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">추천순</a>
                    <a class="dropdown-item" href="#">조회수순</a>
                    <a class="dropdown-item" href="#">등급순</a>
                </div>
            </li>
    
            </ul>
            <!-- Links -->
  
            <form class="form-inline">
              <div class="md-form" style="margin-top : 0px; margin-bottom: 0px;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
              <div>
                <a class="blue-text" >
                  <i class="fas fa-search ml-2"></i>
                </a>
              </div>
            </form>
          </div>
          <!-- Collapsible content -->
  
        </nav>