{% extends "layout.html" %}

{% block section -%}
<!-- Extended default form grid -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c2d8316831af4631c38bfa7e3fbfc76&libraries=services"></script>


 
<!-- Modal -->




<div class="col-lg-12 text-center border-bottom">
<div class="text-center my-5">
  <h3 class="font-weight-bold"> 게시글 등록하기 </h3>
</div>

<form id = "addboard"  method="POST" onsubmit="return checkselbar()">
    <!------- Line 1 ------->

    <div class="form-row my-2">
        <div class="col-lg-1 mt-2 text-left font-weight-bold">제목</div>
        <div class="form-group col-lg-11">
            <input type="text" class="form-control" maxlength="35" oninput="control_textlength(this)" id="title" name ="title" placeholder="제목을 입력하여 주세요." value="테스트 " required>
        </div>
    </div>
    

     <!------- Line 2 -------->
    <div class="form-row my-2">
      <div class="col-lg-1 mt-2 text-left font-weight-bold" >
          기간
      </div>
      <div id="detail" class="form-row my-2">
        <!-- <span id="datstr"></span> -->
      </div>
    </div>


    <!----------------- Line 3  ------------------------->
    <div class="form-row my-2">
      <div class="col-lg-1.5 text-center my-2 mx-1 font-weight-bold">
          자격요건
        </div>
      <div class="col-lg-1.5" id ="slt-graduation">
        <select id="slt_grad" class="browser-default custom-select">
          <option value="" selected>-----------</option>
          <option value="1">무관</option>
          <option value="2">대학교 재학이상</option>
          <option value="3">대졸 이상</option>
        </select>
      </div>
      <div class="col-lg-0.5 mt-2 text-center mx-1 font-weight-bold">
          성별
      </div>
      <div class="col-lg-1.5" id="slt-gen">
        <select id="slt_gen" class="browser-default custom-select required" >
          <option value="" selected>-----------</option>
          <option value="1">무관</option>
          <option value="2">남</option>
          <option value="3">여</option>
        </select>
      </div>
      <div class="col-lg-1 mt-2 text-center font-weight-bold">
          금액
      </div>
      <div class="col-lg-2">
        <div class="form-group">
            <input type="text" value="0" class="form-control" id="money" name="money" placeholder="0원" required> 
        </div>
      </div>
      <div id="paycheck" class="col-lg-3.5 text-left ml-3"></div>
    </div>

    <!------- Line 4 ------->
    <div class="form-row my-2">
        <div class="col-lg-1 mt-2 text-left font-weight-bold">
            연습
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <input type="number" value="3" class="form-control" min="0" maxlength="2" oninput="control_lennumber(this)" id="practice" name="practice" readonly/> 
          </div>
        </div>
        <div class="col-lg-1 text-left my-2">
          <span>회 &nbsp;&nbsp;</span>
          <span class="font-weight-bold">연주</span>
        </div>
        <div class="col-lg-1">
          <div class="form-group">
            <input type="number" value="4" class="form-control" min="0" maxlength="2" oninput="control_lennumber(this)" id="perform" name="perform" readonly/> 
          </div>
        </div>
        <div class="col-lg-0.5 text-left  my-2">
          회
        </div>
        <div class="col-lg-1.5 text-left">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
            날짜선택
          </button>
        </div>
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">날짜선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class='row'>
                  <div id="cal" class="col-lg-7" style="border-right: 1px solid lightgrey ">
                  </div>
                  <div id='seltime' class='col-lg-5' style="font-size: 15px; text-align: left">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="modalClose()">저장</button>
              </div>
            </div>
          </div>
        </div>
        <div id="getradio" style="display: inline-flex">
          <div class="col-lg-0.5 my-2 mx-3 font-weight-bold">
            복장
          </div>
          <div class="col-lg-2.5 my-2 ml-1">
            <div class="form-check form-check-inline">
                <input id="radiobox1" onclick="handlegd()" type="radio" class="form-check-input" name="radiogd1" value="1">
                <label class="form-check-label" for="materialInline1">추후공지</label>
            </div>
            <div class="form-check form-check-inline ml-4">
                <input id="radiobox2" onclick="handlegd()" type="radio" class="form-check-input"  name="radiogd1" checked>
                <label class="form-check-label" for="materialInline2">복장선택</label>
            </div>
          </div>
          <div class="col-lg-4 ml-2" >
              <select id="slt_gd" class="browser-default custom-select">
                  <option value="" selected>-----------</option>
                  <option value="2">자유</option>
                  <option value="3">정장(흰셔츠)</option>
                  <option value="4">정장(올블랙)</option>
              </select>
          </div>
        </div>
      </div>




      <!------- Line 4 ------->
      <div class="form-row my-2">
          <div class="col-lg-1 mt-2 text-center font-weight-bold">
              연습장소
          </div>
          <div class="col-lg-3 ml-2">
            <div class="form-group">
              <!-- <input type="text" class="form-control" id="prac_address" name="prac_address" required>  -->
              <input type="text" class="form-control" id="prac_address" name = "prac_address" placeholder="주소" required>
            </div>
          </div>
          <div class="col-lg-1.5">
              <!-- <button type="button" class="btn btn-outline-info waves-effect btn-md font-weight-bold">주소검색</button> -->
              <input type="button" class="btn btn-outline-info waves-effect btn-md font-weight-bold" onclick="sample5_execDaumPostcode('prac_address', 'prac_map')" value="주소 검색">
          </div>


          <div class="col-lg-1 mt-2 text-center font-weight-bold ml-3">
              연주장소
          </div>
          <div class="col-lg-3 ml-2">
            <div class="form-group">
              <input  type="text" class="form-control" id="perf_address" name="perf_address" required> 
            </div>
          </div>
          <div class="col-lg-1.5">
              <!-- <button type="button" class="btn btn-outline-info waves-effect btn-md font-weight-bold">주소검색</button> -->
              <input type="button" class="btn btn-outline-info waves-effect btn-md font-weight-bold" onclick="sample5_execDaumPostcode('perf_address', 'perf_map')" value="주소 검색">
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div id="prac_map" style="width:400px;height:300px;margin-top:10px;display:none"></div>
        </div>
        <div class="col-lg-6">
          <div id="perf_map" style="width:400px;height:300px;margin-top:10px;display:none"></div>
        </div>
      </div>




      <div class="row my-4">
        <div class="col-lg-2 text-left  text-primary" style="font-size : 20px; font-weight:700">
          선택된 파트
        </div>
        <div id="selpart_box" class="col-lg-10">
        
        </div>
      </div>

      <div class="row">
        <div class="col-lg-1 text-primary" style="font-size : 30px; font-weight: 700">
          파트선택
        </div>
        <div id="choice_box" class="col-lg-11">
          
      

        </div>
      </div>
      <div class="form-row mt-4">
        <div class="col-lg-7">
          <div class="form-group text-left">
              <label for="detail_textarea"><h3 class="font-weight-bold ">상세내용</h3></label>
              <textarea class="form-control" maxlength="999" oninput="control_textlength(this)" id="detail_textarea" name="detail_textarea" rows="7"></textarea>
          </div>
        </div>
        <div class="col-lg-5 ">
            <div class="form-group text-left">
                <label for="song_textarea"><h3 class="font-weight-bold ">곡 정보</h3></label>
                <textarea class="form-control" maxlength="999" oninput="control_textlength(this)" id="song_textarea" name="song_textarea" rows="7"></textarea>
            </div>
        </div>
      </div>
      
      <div class="form-row my-4">
      </div>
      <div class="form-row my-4">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-outline-danger waves-effect mr-3" onclick="exit()">닫기</button>
          <button  id="submit" onclick ="send_all()" type="button"  class="btn btn-outline-success waves-effect ml-2">등록하기</button>
        </div>
        <div class="col-lg-4">
        </div>
        <input action="" type="hidden" id="selist" name="hidden_form" value="">
      </div>
  </form>

</div>   


<script>
function exit() {
  if(confirm("변경사항이 저장되지 않을수 있습니다.\n등록게시판을 나가시겠습니까?") == true){
    $.ajax({
      url : "/nexturl",
      type : "get"
    }).done(function(res) {
      console.log(res)
      location.href = res.next
    })
  }
  else {
    return ""
  } 
}


function nth(number){
  if (number == 1){
    return '일'
  } else if (number == 2){
    return '이'
  } else if (number == 3){
    return '삼'
  } else if (number == 4){
    return '사'
  } else if (number == 5){
    return '오'
  } else if (number == 6){
    return '육'
  } else if (number == 7){
    return '칠'
  } else if (number == 8){
    return '팔'
  } else if (number == 9){
    return '구'
  } else if (number == 0){
    return ''
  }
}

var previous_res;
$('#money').keyup(function paycheck(){
  var checknum = /^[0-9]+$/;
  var paynum = $(this).val();
  console.log (paynum)
  // if (checknum.test(paynum) == false) {
  if (paynum != '' && checknum.test(paynum) == false){
    alert("숫자를 입력하여 주세요.")
    $("#money").val(previous_res);
    $("#money").focus();
    $("#paycheck").text(paystr)
  }
  else {
  previous_res = $(this).val()
  var $paycheck = $('#paycheck')
  var paystr = ' 원'
  paylen = paynum.length
  for (i=0; i<paylen; i ++){
    var pidx = paylen - (i + 1)
    aa = paynum.charAt(pidx)
    if (aa != 0){
      if (i == 0 ){
        paystr = nth(aa) + paystr
      }
      if (i == 1){
        paystr = nth(aa)+ "십" + paystr
      }
      if ( i == 2){
        paystr = nth(aa)+ "백" + paystr
      }
      if ( i == 3){
        paystr = nth(aa)+ "천" + paystr
      }
      if ( i == 4){
        paystr = nth(aa)+ "만" + paystr
      }
      if ( i == 5){
        paystr = nth(aa)+ "십" + paystr
      }
      if ( i == 6){
        paystr = nth(aa)+ "백" + paystr
      }
      if ( i == 7){
        paystr = nth(aa)+ "천" + paystr
      }
      if ( i == 8){
        paystr = nth(aa)+ "억" + paystr
      }
      if ( i == 9){
        paystr = nth(aa)+ "십" + paystr
      }
      if ( i == 10){
        paystr = nth(aa)+ "백" + paystr
      }
      if ( i == 11){
        paystr = nth(aa)+ "천" + paystr
      }
    } else{
      if ( i == 4){
        paystr = nth(aa)+ "만" + paystr
      }
      if ( i == 8){
        paystr = nth(aa)+ "억" + paystr
      }
    }
  }
}
  $paycheck.text(paystr)
});

function control_textlength (object){
  var len = object.value.length
  if (len == object.maxLength) {
    object.value = object.value.slice(0, len)
    alert("글자수를 초과하셨습니다. (최대 " + len + " 자)")
    $(object).focus()
  }
}

function control_lennumber (object){
  var len = object.value.length
  if (len > object.maxLength) {
    object.value = object.value.slice(0, (len - 1))
    alert("글자수를 초과하셨습니다. (최대 " + (len - 1) + " 자)")
    $(object).focus()
  }
}

function send_all() {
  if (checkselbar() == false) {
    return false
  }
  if (inputdate == undefined) {
    alert ("날짜가 확정되지 않았습니다.")
    return ""
  }
  var alldata = send_data();
  alldata["costume"] = radio_value()
  instruments =  send_hiddenform()
  alldata["instruments"] = instruments
  

  $.ajax({
    url : "http://localhost:5000/sendboard",
    data : JSON.stringify(alldata),
    type : 'POST',
    contentType: 'application/json',
    dataType : 'json'
  }).done(function (res) {
    window.location.href = 'http://localhost:5000/perform/detail/board' + res
  })
}

  function handlegd() { 
    if ($('#radiobox1:checked').length == '1') {
      $("select[id='slt_gd']").attr("disabled",true);
    }
    else $("select[id='slt_gd']").attr("disabled",false);
  }
  // a.val() === a[0].options[0].innerText

  function checkselbar() {
    var slt_gd = $('#slt_gd').val()
    var slt_gen = $('#slt_gen').val()
    var slt_grad = $('#slt_grad').val()
    var isgd = $('#radiobox1:checked').length

    if (slt_grad === "") {
      alert ("자격요건 항목을 선택하여 주세요.")
      return false
    } 
    if (slt_gen === "") {
      alert ("성별 항목을 선택하여 주세요.")
      return false
    }
    if (slt_gd === "" && isgd != '1' ) {
      alert("복장 항목을 선택하여 주세요.")
      return false
    }
      
  }

  function send_ajax(url, method, data, dataType, fn) {
    $.ajax({
        url: url,
        data: data,
        type: method,
        dataType: dataType
    }).done(function (res) {
        if (fn)
            fn(res)
    }).fail(function (xhr, status, errorThrown) {
        console.error("Sorry, there was a problem!", xhr, status, errorThrown);
    }).always(function (xhr, status) {
        console.log("The request is complete!");
    });
  }
  var inst_url = "http://localhost:5000/instrument"

  send_ajax (inst_url, 'GET', '', '', function (res) {
    console.log("res>>", res)
    for (i = 0, len = res.length; i<len; i++){
      var inst_id = res[i]['instrument_id']
      var inst_name = res[i]['instrument_name']
      var choice_inst = $('<button>');
      
      choice_inst.attr('id', "inst_" + inst_id);
      choice_inst.attr("inst_num", inst_id)
      choice_inst.attr('type','button')
      choice_inst.addClass("btn").addClass("waves-effect").addClass("float-left").addClass("col-lg-2").addClass("float-left");
      choice_inst.css('padding', '9px 15px').css('border-style','solid!important').css('border-color','rgb(228, 189, 121)').css('color','rgb(228, 189, 121)').css('border-width', '3px').css('font-size', '17px');;
      choice_inst.text(inst_name);
      choice_inst.attr("onclick", "add_part($(this).text(),$(this).attr('inst_num'))");
      
      $('#choice_box').append(choice_inst)
    }     
    if (!res || !res.length) return;
  })
  
  function add_part (instrument, inst_num){
    var has_selected = $('<button>')
    var instrument_name = $("<span>")
    // var close_button = $('<span>')  
    var bg_add = $('<span>')
      
      // close_button.addClass("float-right").addClass("float-right mr-1 mb-1").css("color", "#e65100")
      // close_button.css("font-weight","500")
      // close_button.text('x')

      instrument_name.addClass("get_instrument")
      instrument_name.text(instrument)

      has_selected.attr("id", "sel_" + instrument);
      has_selected.attr("name", instrument);
      has_selected.attr("type", "button");
      has_selected.attr("data-id", inst_num);
      has_selected.addClass("badge").addClass("my-1").addClass("btn").addClass("btn-sm").addClass("float-left");
      has_selected.css('font-size', '17px').css('background-color','rgb(229, 202, 155)').css('height','30px').css('width','163px').css('padding','0px 10px');
      has_selected.attr("onclick", 'del_part($(this).attr("name"))');

      bg_add.addClass('badge').addClass('mr-1').addClass("float-right").css('background-color','rgb(255, 255, 255)').css('color','rgb(229, 202, 155)').addClass('clicknum');
      bg_add.attr("id", "bg" + instrument)
      bg_add.text('1')

    if ( $('#sel_' + instrument).length >= 1) {
      var before_num = $('#sel_' + instrument).text()
      // var result = before_num.slice(instrument.length+1 , -2)
      // num = Number(result) + 1
      var a = $('#bg' + instrument).text()
      $('#bg' + instrument).text(Number(a) + 1)
    }
    else {
      $('#selpart_box').append(has_selected)
      $('#sel_' + instrument).append(instrument_name)
      // $('#sel_' + instrument).append(close_button)
      $('#sel_' + instrument).append(bg_add)
    }
    
  
  }

  function del_part (inst_name) {
    // var close_button = $('<span>') 
      
    //   close_button.addClass("float-right").addClass("float-right mr-1").addClass("text-danger")
    //   close_button.css("font-weight","500")
    //   close_button.text('X')
    
    var before_num = $('#sel_'+ inst_name).text()
    var a = $('#bg' + inst_name).text()

    // var result = before_num.slice(inst_name.length+1 , -2)
    // num = Number(result) - 1
    
    if (a == 1) {
      $('#sel_' + inst_name).remove()
    }
    else {
    $('#bg' + inst_name).text(Number(a) -1)
    }
  }

  function send_hiddenform () {
    var partbox = $("#selpart_box").children()
    var arr = []
    
    partbox.each(i => { var name = partbox.children('.get_instrument')[i].textContent;
      var data_id =  $("#sel_"+ name).attr("data-id"); 
      var person = partbox.children('.clicknum')[i].textContent;
      arr.push ({"iid": data_id, "person" : person})
    })
    return arr
      
  }

  function radio_value() {
    if ($('input[name=radiogd1]:checked').val() == '1') {
      return '1'
      }

    else {
      return $('#slt_gd').val();
    }

  }

  function send_data () {
   
    var qualification = $('#slt_grad').val()
    var gen = $('#slt_gen').val()

    var data = {"board_id" : "",
              "title" : $('#title').val(),
              "qualification" :$("#slt_grad").val(),
              "gen" : $('#slt_gen').val(),
              "money" : $('#money').val(),
              "practice_time" : $('#practice').val(),
              "practice_sche" : psch.csch,
              "practice_date" : lts(selpracdays),
              "perform_time" : $('#perform').val(),
              "perform_sche" : psch.fsch,
              "perform_date" : lts(selperfdays),
              // "costume" : $('#slt_gd').val(),
              "practice_address" : $('#prac_address').val(),
              "perform_address" : $('#perf_address').val(),
              "detail_info" : $('#detail_textarea').val(),
              "song_info" : $('#song_textarea').val(),
              "practice_mapx" : mapdata[0].x,
              "practice_mapy" : mapdata[0].y,
              "perform_mapx" : mapdata[1].x,
              "perform_mapy" : mapdata[1].y
              }
    return data
  }
  
  
</script>


<!-- ============================ Handle Bar Year========================================== ========================-->
<script id="datesrc" type="text/x-handlebars-template">

  <div id="selpractime" style="border-bottom:1px solid rgb(216, 213, 213);padding-bottom:10px; height:213px">
    {% raw %}
    <div>연습날짜</div>
    {{#each spcd}}
    <div class="row" >
      <span class="col-lg-5" id="prac{{nselday}}_" style="float:left; margin: 5px 0px">{{selpracday}}</span>
      <span class="col-lg-7" id="prac{{nselday}}" style="float:right; margin: 5px 0px">
      </span>
    </div>
    {{/each}}
  </div>
  <div id="selperftime">
    <div>연주날짜</div>
    {{#each spfd}}
    <div class="row" >
      <span class="col-lg-5" id="perf{{nselday}}_" style="float:left; margin: 5px 0px">{{selperfday}}</span>
      <span class="col-lg-7" id="perf{{nselday}}" style="float:right; margin: 5px 0px">
      </span>
    </div>
    {{/each}}
  </div>
  {% endraw %}
</script>
<script id="selhmsrc" type="text/x-handlebars-template">
  {% raw %}
  <select class="starthour" onchange="savetime(this,0)">
    <option value="none" selected>--</option>
    {{#each hours}}
    <option value={{hour}}>{{hour}}</option>
    {{/each}}
  </select><b> :</b>
  <select class="startminute" onchange="savetime(this,1)">
    <option value="none" selected>--</option>
    {{#each minutes}}
    <option value={{minute}}>{{minute}}</option>
    {{/each}}
  </select><b> ~</b>
  <select class="endhour" onchange="savetime(this,2)">
    <option value="none" selected>--</option>
    {{#each hours}}
    <option value={{hour}}>{{hour}}</option>
    {{/each}}
  </select><b> :</b>
  <select class="endminute" onchange="savetime(this,3)">
    <option value="none" selected>--</option>
    {{#each minutes}}
    <option value={{minute}}>{{minute}}</option>
    {{/each}}
  </select>
  {% endraw %}
</script>
<script id="calensrc" type="text/x-handlebars-template">
  <table id="calendar"  style="width:100%; height:350px;">
    {% raw %}
    <thead id="calhead">
        <div>
            <h3><span id="year">{{thisyear}}</span><span>년</span></h3>
        </div>
        <div>
          <h4>
            <span id="lastmonth" onclick="lastmonth()"><i class="fas fa-chevron-left"></i>&emsp;</span>
            <span id="cmonth">{{thismonth}}</span><span>월 &emsp;</span>
            <span id="nextmonth" onclick="nextmonth()"><i class="fas fa-chevron-right"></i></span>
          </h4>
        </div>
    </thead>
    <tbody >
        <tr style="margin: 5px 0px">
            <th style="margin: 5px 0px">일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th>
        </tr>
        {{#mod7 days}}{{day}}{{/mod7}}
    </tbody>
    {% endraw %}
  </table>
</script>

<script>
  var d = new Date();
  var tyear = d.getFullYear();
  var tmonth = d.getMonth() + 1;
  var caldata = { 
                  days:[],
                  thismonth:"",
                  thisyear:""
      };
  var hm = {
    hours: [],
    minutes: [],
    spcd: [],
    spfd: [],
    time: []
  };
  for (i=0; i<24; i++){
    if (i<10){
      hm.hours.push({hour:"0"+i})
    } else {
      hm.hours.push({hour:i})
    }
  }
  for (i=0; i<12; i++){
    if (i<2){
      hm.minutes.push({minute: "0" + i*5})
    } else {
      hm.minutes.push({minute: i*5})
    }
  }
  
  var monarr = [4, 6, 9, 11];
  // caldata 만들기
  function insertdate(thisyear, thismonth){
    var fir = new Date(thisyear+"-"+thismonth+"-1")
    caldata.thisyear = thisyear
    caldata.thismonth = thismonth
    addnulltd = Number(fir.getDay())
    // 평년
    if (leafYearCheck(thisyear) == false){
      if (monarr.includes(thismonth)){
        for (i=1-addnulltd; i<=30; i++){
          if (i<=0){
            caldata.days.push({day:""})
          } else{
            caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
       }
      } else if (thismonth == 2){
        for (i=1-addnulltd; i<=28; i++){
          if (i<=0){
            caldata.days.push({day:""})
          } else {
            caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
        }
      } else {
        for (i=1-addnulltd; i<=31; i++){
          if (i<=0){
            caldata.days.push({day:""})
          } else {
            caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
        }
      }
// 윤년
    }else{
      if (monarr.includes(thismonth)){
        for (i=1-addnulltd; i<=30; i++){
          if (i<=0){
              caldata.days.push({day:""})
          } else {
              caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
        }
      } else if (thismonth == 2){
        for (i=1-addnulltd; i<=29; i++){
          if (i<=0){
            caldata.days.push({day:""})
          } else {
            caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
        }
      } else {
        for (i=1-addnulltd; i<=31; i++){
          if (i<=0){
            caldata.days.push({day:""})
          } else {
            caldata.days.push({day: getDateForm(thisyear, thismonth, i, 0)});
          }
        }
      }
    }
    return caldata
  }
  // 연도, 월 반영한 caldata 생성
  caldata = insertdate(tyear,tmonth)
  // tbody부분 그리는 helper 등록
  Handlebars.registerHelper("mod7", function(days, options){
    var html = ""
    for (var i=0, l=days.length; i<l; i++){
      fdate = options.fn(days[i])
      rdate = fdate.substr(8,2)
      if (rdate < 10){
        rdate = rdate.substr(1,1)
      }
      if (i % 7 == 0 ){
        html = html + "<tr style='margin: 20px 0px'>" + "<td id='" + fdate + "'class='cell' value='0'>" + rdate + "</td>"
      }else if( i % 7 == 6){
        html = html + "<td id='" + fdate + "'class='cell' value='0'>" + rdate + "</td>" + "</tr>"
      }else{
        html = html + "<td id='" + fdate + "'class='cell' value='0'>" + rdate + "</td>"
      }
    }
    return html
  });
  // 윤년체크
  function leafYearCheck(thisyear){
    var int_year;
    int_year = Number(thisyear);
    var lyc = 0
    if( int_year%4 == 0 ){
      if( int_year%100 == 0 ){
        if( int_year%400 == 0 ){
          return true; 
        }
        return false;
      }
      return true;        
    }
    return false;
  }
  function calen(sourceId, caldata, resultId){
      var source = document.getElementById(sourceId).innerHTML;
      var template = Handlebars.compile(source);
      var html = template(caldata);
      document.getElementById(resultId).innerHTML = html;
  }
  calen("calensrc", caldata, "cal")
  calen("datesrc", hm, "seltime")

  function lastmonth(){
    caldata.days = []
    if (tmonth == 1){
        tmonth = tmonth + 11;
        tyear = tyear - 1;
    } else {
        tmonth = tmonth - 1;
    }
    insertdate(tyear, tmonth);
    calen("calensrc", caldata, "cal")
    canclick()
    selectCheck(selpracdays, selperfdays)
  }

  function nextmonth(){
    caldata.days = []
    if (tmonth == 12){
        tmonth = tmonth - 11;
        tyear = tyear + 1;
    } else {
        tmonth = tmonth + 1;
    }
    insertdate(tyear, tmonth);
    calen("calensrc", caldata, "cal")
    canclick()
    selectCheck(selpracdays, selperfdays)
  }
  
  var selpracdays = [];
  var selperfdays = [];
  function canclick(){
    $(".cell").click(function(){
      $this = $(this)
      $year = $("#year")
      $month = $("#cmonth")
      
      if ($this.attr("value") == '0'){
        $this.addClass("prac");
        $this.attr("value", "1");
        nselday = getDateForm($year.text(),$month.text(), $this.text(), 1)
        selday = getDateForm($year.text(),$month.text(), $this.text(), 0)
        sday = new Date(selday)
        hselday = $year.text() + "년 " + $month.text() + "월 " + $this.text() + "일 " + " (" + ntd(sday.getDay()) + ")"
        selpracdays.push(selday);
        hm.spcd.push({selpracday:hselday, nselday:nselday, sd:selday})
      } else if ($this.attr("value") == '1') {
        $this.removeClass("prac");
        $this.addClass("pracperf");
        $this.attr("value", "2");
        nselday = getDateForm($year.text(),$month.text(), $this.text(), 1)
        selday = getDateForm($year.text(),$month.text(), $this.text(), 0)
        sday = new Date(selday)
        hselday = $year.text() + "년 " + $month.text() + "월 " + $this.text() + "일 " + " (" + ntd(sday.getDay()) + ")"
        selperfdays.push(selday)
        hm.spfd.push({selperfday:hselday, nselday:nselday, sd:selday})
      } else if ($this.attr("value") == '2') {
        $this.removeClass("pracperf");
        $this.addClass('perf');
        $this.attr("value", "3");
        nselday = getDateForm($year.text(),$month.text(), $this.text(), 1)
        selday = getDateForm($year.text(),$month.text(), $this.text(), 0)
        sday = new Date(selday)
        hselday = $year.text() + "년 " + $month.text() + "월 " + $this.text() + "일 " + " (" + ntd(sday.getDay()) + ")"
        delday = Number(selpracdays.indexOf(selday))
        jsondelday = hm.spcd.findIndex(function(item, i){
          return item.selpracday === hselday
        });
        selpracdays.splice(delday, 1); 
        hm.spcd.splice(jsondelday,1);
      } else {
        $this.removeClass("perf");
        $this.attr("value", "0");
        selday = getDateForm($year.text(),$month.text(), $this.text(), 0)
        sday = new Date(selday)
        hselday = $year.text() + "년 " + $month.text() + "월 " + $this.text() + "일 " + " (" + ntd(sday.getDay()) + ")"
        delday = Number(selperfdays.indexOf(selday))
        jsondelday = hm.spfd.findIndex(function(item, i){
          return item.selperfday === hselday
        });
        console.log(jsondelday)
        hm.spfd.splice(jsondelday,1);
        selperfdays.splice(delday, 1);
        console.log(hm)
      }
      hm.spcd = hm.spcd.sort(function(a,b){return a.nselday-b.nselday} )
      hm.spfd = hm.spfd.sort(function(a,b){return a.nselday-b.nselday} )
      calen("datesrc", hm, "seltime")
      hcl = hm.spcd.length
      hfl = hm.spfd.length
      for (i=0;i<hcl;i++){
        ckey = "prac" + hm.spcd[i].nselday
        calen("selhmsrc", hm, ckey)
        $ckey = $(`#${ckey}`)
        if (hm.time[ckey] == undefined){
        } else {
          $ckey.children('.starthour').val(hm.time[ckey][0]);
          $ckey.children('.startminute').val(hm.time[ckey][1]);
          $ckey.children('.endhour').val(hm.time[ckey][2]);
          $ckey.children('.endminute').val(hm.time[ckey][3]);
        }
      };
      for (j=0; j<hfl;j++){
        fkey = "perf" + hm.spfd[j].nselday
        calen("selhmsrc", hm, fkey)
        $fkey = $(`#${fkey}`)
        if (hm.time[fkey] == undefined){
        } else {
          $fkey.children('.starthour').val(hm.time[fkey][0]);
          $fkey.children('.startminute').val(hm.time[fkey][1]);
          $fkey.children('.endhour').val(hm.time[fkey][2]);
          $fkey.children('.endminute').val(hm.time[fkey][3]);
        }
      }
    });
  }

  function selectCheck(selpracdays, selperfdays){
    pl = selpracdays.length
    fl = selperfdays.length
    for (i=0;i<pl;i++){
      pdid = selpracdays[i];
      $pdid = $(`#${pdid}`);
      $pdid.attr('value', '1');
      $pdid.css('background-color', 'DodgerBlue');
    }
    for (j=0;j<fl;j++){
      fdid = selperfdays[j];
      $fdid = $(`#${fdid}`);
      $fdid.attr('value', '2');
      $fdid.css('background-color', 'Tomato')
    }
  }

  function getDateForm(year, month, date, i){
    if (i==0){
      if (month < 10){
        if (date < 10){
          selday = year + "-0" + month + "-0" + date
        } else {
          selday = year + "-0" + month + "-" + date
        }
      } else {
        if (date < 10){
          selday = year + "-" + month + "-0" + date
        } else {
          selday = year + "-" + month + "-" + date
        }
      }
    } else {
      if (month < 10){
        if (date < 10){
          selday = year + "0" + month + "0" + date
        } else {
          selday = year + "0" + month + date
        }
      } else {
        if (date < 10){
          selday = year + month + "0" + date
        } else {
          selday = year + month + date
        }
      }
    }
    return selday
  }
  function ntd(daynum){
    var daynums = {0:"일", 1:"월", 2:"화", 3:"수", 4:"목", 5:"금", 6:"토"}
    return daynums[daynum]
  }
  function savetime(sel,i){
    theday = $(sel).parent().attr('id');
    console.log(hm.time[theday])
    if (hm.time[theday] == undefined){
      hm.time[theday]={0:'--',1:'--',2:'--',3:'--'}  
    }
    if (i == 0){
      hm.time[theday][0]=sel.value;
      console.log("this.val0",hm.time[theday][0]);
    } else if (i == 1) {
      hm.time[theday][1]=sel.value;
      console.log("this.val0",hm.time[theday][1]);
    } else if (i == 2) {
      hm.time[theday][2]=sel.value;
      console.log("this.val0",hm.time[theday][2]);
    } else {
      hm.time[theday][3]=sel.value;
      console.log("this.val0",hm.time[theday][3]);
    }
    console.log(hm.time[theday])
  }
  var psch ={}
  function modalClose(){
    cl = selpracdays.length
    fl = selperfdays.length
    $("#practice").attr('value', `${cl}`);
    $("#perform").attr('value', `${fl}`);
    spcd = hm.spcd
    spfd = hm.spfd
    var pracschlst =[]
    var perfschlst =[]
    for (i=0;i<spcd.length;i++){
      pracsch = spcd[i].sd + " " + $('.starthour').eq(i).val() + ":" + $('.startminute').eq(i).val() + "~" + $('.endhour').eq(i).val() + ":" + $('.endminute').eq(i).val()
      pracschlst.push(pracsch)
    }
    for (j=spcd.length;j<spcd.length +spfd.length;j++){
      perfsch = spfd[j-spcd.length].sd + " " + $('.starthour').eq(j).val() + ":" + $('.startminute').eq(j).val() + "~" + $('.endhour').eq(j).val() + ":" + $('.endminute').eq(j).val()
      perfschlst.push(perfsch)
    }
    pracschlst = lts(pracschlst)
    perfschlst = lts(perfschlst)
    psch={csch:pracschlst, fsch:perfschlst}
    console.log(psch)    
  }
  function lts(lst){
    var nlst =[]
    str = lst.join(", ")
    nlst.push(str)
    return nlst
  }

  $(document).ready(canclick()
  );

</script>



<!-- ============================ End Handle Bar Year ========================-->



<script>

//주소-좌표 변환 객체를 생성
var geocoder1 = new daum.maps.services.Geocoder();


var mapdata = []


function sample5_execDaumPostcode(paddress, pmap) {
  new daum.Postcode({
    oncomplete: function(data) {
      var addr = data.address; // 최종 주소 변수

      // 주소 정보를 해당 필드에 넣는다.
      document.getElementById(paddress).value = addr;
      // 주소로 상세 정보를 검색
      geocoder1.addressSearch(data.address, function(results, status) {
          // 정상적으로 검색이 완료됐으면
        if (status === daum.maps.services.Status.OK) {

          var result = results[0]; //첫번째 결과의 값을 활용
          mapdata.push(result)
          // 해당 주소에 대한 좌표를 받아서
          var coords = new daum.maps.LatLng(result.y, result.x);
          // var pmape = paddress.slice(0,4) + "_map";
          // console.log(pmape);
          // 지도를 보여준다.
          var mapContainer1 = document.getElementById(pmap)
          var mapOption = {
              center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
              level: 5 // 지도의 확대 레벨
          };
          
          var map1 = new daum.maps.Map(mapContainer1, mapOption);

          var marker1 = new daum.maps.Marker({
              position: new daum.maps.LatLng(37.537187, 127.005476),
              map: map1
              });
          // mapContainer1.style.display = "block";
          mapContainer1.style.display = "block";

          map1.relayout();
          // 지도 중심을 변경한다.
          map1.setCenter(coords);
          // 마커를 결과값으로 받은 위치로 옮긴다.
          marker1.setPosition(coords)
          
        }
      });
    }
  }).open();
}
</script>

{%- endblock %}}