{% extends "layout.html" %}

{% block section %}
<div class="row">
    <div class="col-lg-12 text-center my-2 font-weight-bold" style="font-size : 28px; margin-top:18px">
        회원정보 수정
    </div>
</div>
<div class="container" style="margin-top:60px;">
    <!-- First Row -->

    <div class="row my-5">
        <div class="col-lg-3 mr-2 text-right font-weight-bold" style="font-size : 20px">
            아이디
        </div>
        <div class="col-lg-8 text-left" style="font-size : 20px;">
            joe753@naver.com
        </div>
    </div>

    <!-- Second Row -->
    <div class="row my-5">
        <div class="col-lg-3 mr-2 text-right font-weight-bold" style="font-size:20px;">
            휴대전화
        </div>
        <div class="col-lg-8 text-left" style="font-size : 20px;">
            010&nbsp;-&nbsp;4669&nbsp;-&nbsp;****
        </div>
    </div>

    <!-- Third Row -->
    <div class="row my-5">
        <div class="col-lg-3 mr-2 text-right font-weight-bold" style="font-size:20px;">
            닉네임
        </div>
        <div class="col-lg-8 text-left" style="font-size : 20px;">
            운영자새끼
        </div>
    </div>

    <!-- Fourth Row -->
    <div class="row my-5">
        <div class="col-lg-3 mr-2 text-right font-weight-bold" style="font-size:20px;">
            주소
        </div>
        <div class="col-lg-8 text-left" style="font-size : 20px;">
            서울
        </div>
    </div>

    <!-- Fifth Row -->
    <div class="row my-5">
        <div class="col-lg-3 mr-2 text-right font-weight-bold" style="font-size:20px;">
            휴대전화
        </div>
        <div class="col-lg-8 text-left" style="font-size : 20px;">
            010&nbsp;-&nbsp;4669&nbsp;-&nbsp;****
        </div>
    </div>

</div>

{% endblock %}