
{% extends "layout.html" %}
{% import "macro/ls_card.html" as ls %}



{% block section %}
    <!-- Central Modal Small -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    
<!-- Central Modal Small -->
  {{ls.l_card ('user04','홍길동', 'Cello', '서울시 광진구', '첼로 취미, 화성학, 피아노 레슨 합니다.', '70,000') }}
        
  {{ls.l_card ('user05','김도토리', 'Trumpet', '서울시 노원구', '입시,전문,취미레슨 해드립니다.', '100,000') }}

  {{ls.l_card ('user03','김일수', 'Voice(T)', '인천광역시 남구', '성악 입시전문', '80,000') }}

  {{ls.l_card ('user01','알레시', 'Trombone', '강원도 고성군', '트롬본 예고,대입 레슨합니다.', '50,000') }}


  

{% endblock %}