{% extends "layout.html" %}

{% block section %}

<div id="cards" class="row"> </div>
<script id="card-template" type="text/x-handlebars-template">
    <!--Card-->
      <div class="card" style="height: 32rem">
          
          <div class="col-lg-12 col-md-4">
            <div class="text-center my-3" style="border-bottom:3px solid rgb(167, 127, 14)">
              <h5>
                {% raw %}
                <strong class="font-weight-bold" style="font-size : 24px ">
                    {{board_title}}
                </strong>
                {% endraw %}
              </h5>
            </div>
            <div class="row grey-text">
              <div class="col-lg-6 text-left text-dark">
                <h5>
                  <a>
                    {% raw %}
                    <!-- <img src="../static/img/user_img/user{{user_id}}.jpg" style="height:2rem;  " class="rounded-circle"> -->
                    <strong class="ml-2 text-dark font-weight-bold" style="font-size : 22px;">{{user_nickname}}</strong>
                    {% endraw %}
                  </a>
                </h5>
              </div>
              <div class="col-lg-6 text-right">
                {% raw %}
                <h6 class="mr-2">
                    {{upload_date}}
                </h6>
                
              </div>
              
            </div>
            <div id="inst{{board_id}}" class="row" style="height: 13rem;">
            
            </div> 
                <div class="row mt-4">
                  <div class="col-lg-12  grey-text text-center">
                    <h5 class="font-weight-bold">
                      {{due_date}}
                    </h5>
                  </div>
                  <div class="col-lg-12 text-center">
                      <h5 class="dark-grey-text font-weight-bold">
                        {{perform_address}}
                      </h5>
                  </div>
                  <div class="col-lg-12 text-dark text-center">
                      <h5 class="text-danger">
                        <strong class="font-weight-bold">{{money}}</strong> 원
                      </h5>

                        <div class="text-right">
                            <button type="button" class="btn waves-effect float-left" style="padding : 9px 28px ;border-style: solid!important; border-color: rgb(243, 198, 125); color: rgb(243, 198, 125); border-width: 3px; font-size: 17px">
                                지원하기
                            </button>
                            <a target="_blank" id="link{{board_id}}">
                              <button id="detail{{board_id}}" type="button" class="btn waves-effect" style="padding : 8px 28px ;border-style: solid!important; border-color: rgb(228, 189, 121); color: rgb(228, 189, 121); border-width: 3px; font-size: 17px">
                                상세보기
                              </button>
                            </a>
                            {% endraw %}
                            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>

                        </div>
                  </div>
                </div>
            
          </div>


      </div>
    </div>
</script>
  
  
  
  
  <!-- =================== Select =====================-->
<script>
  var alldata;
  var boardinst_json = {}
  var stopscroll;
  var board_len
  var check_onchange
  var newtb;





function filtering (data, column1, getnumber1, column2, getnumber2 ) {
  bid_lst = []
  boardtable = []
  newtb = JSON.parse(JSON.stringify(data));
  if (getnumber1 != 0) {
  newtb.boardtb = newtb.boardtb.filter( function (res) {
    return res[column1] == getnumber1}).sort()
  }
  if (getnumber2 != 0) {
    var dt = newtb.boardinst.filter( function (res) {
    return res[column2] == getnumber2}).sort()
    
    var test = dt.filter( function (ttt) {
      bid_lst.push(ttt["board_id"])
      return ttt
    })
  function last (table, bids) {
    table.forEach(row => {
      if (bids.indexOf(row.board_id) !== -1) {
        boardtable.push(row)
        }
      });
    }
    last(newtb.boardtb, bid_lst)
    newtb.boardtb = boardtable
    console.log(newtb.boardtb)
  }
  i = 0;
  num = 4;
  draw_cards(num, newtb)
}




function select_area (data, sel_area, sel_part) {
  if (data == undefined) {
    $.ajax({
      url : "/alldata",
      data : "",
      type : 'GET',
      dataType : ''
      }).done(function (res){
          alldata = res
          var data = res
          filtering(alldata, "area_number", sel_area, "instrument_id", sel_part)
          })
        }
  else {
    if (sel_area == 0 && sel_part == 0) {
      i = 0 ;
      num = 4;
      document.getElementById("cards").innerHTML = ""
      draw_cards(num, data)
     
    }
    else {
      check_onchange = sel_area;
      document.getElementById("cards").innerHTML = ""
      filtering(alldata, "area_number", sel_area, "instrument_id", sel_part)
      }
    }
}
</script>
<script>

function getall () {
  if (alldata == undefined) {
  $.ajax({
    url : "/alldata",
    data : "",
    type : 'GET',
    dataType : ''
    }).done(function (res){
        alldata = res
        draw_cards(4, alldata)
    })
  }
  else   {
    draw_cards(num, alldata)
  }
} 



function get_area (res) {
  if ($('#sel_area').val() > 0 ) {
    var test = res.boardtb;
    res.boardtb = test.filter( function (j) {
      return j["area_number"] == $('#sel_area').val()
      }).sort()
    return res
  }
  else {
    return res
  }
}
</script>




<script>
var i = 0;
var num = 4; 
getall()


$(document).ready(function(){
  $(window).scroll(function(){   //스크롤이 최하단 으로 내려가면 리스트를 조회하고 page를 증가시킨다.
     if ($(window).scrollTop() >= $(document).height() - $(window).height()){
        if ($("#sel_area").val() > 0 | $("#sel_part").val() > 0) {
          draw_cards(num, newtb)
        }
        
        else {
        getall()
        }
     } 
  })
});

function addComma(num) {
  var regexp = /\B(?=(\d{3})+(?!\d))/g;
  return num.toString().replace(regexp, ',');
}


function addProperty(data, i){
  // 시간 설정
  moment.locale('ko')
  var kupload_time = moment(data.boardtb[i].upload_time)
  var kdue_date = moment(data.boardtb[i].due_date)
  data.boardtb[i].upload_date = kupload_time.format('YYYY.MM.DD a hh:mm')
  data.boardtb[i].due_date = kdue_date.format('YYYY.MM.DD (dd) a hh:mm')
  
  // 돈 콤마
  data.boardtb[i].money = addComma(data.boardtb[i].money)
  return data
}
function createCard(data, board_len, i){
    //카드 만들기
    var cardform = $('<div>')
    var cardnum = "card" + (board_len - i)
    cardform.addClass("col-lg-6").addClass("mb-3")
    cardform.attr("id", cardnum) 
    $("#cards").append(cardform)
    eee("card-template", data.boardtb[i], cardnum)
}
function postInst(data, board_len, i, boardinst_json){
  var a = data.boardinst
  var board_table = data.boardtb
  var bid = a.filter( function (t) {
    return t["board_id"] == (board_table[i].board_id)
  }) 
  if (bid[0] == undefined) {
    $("#card" + (board_len - i)).remove()
    return true
  }

  boardinst_json["boardinst"] = bid
  eee("hb_instsrc", boardinst_json, "inst" + (bid[0].board_id))
  $('#link'+(bid[0].board_id)).attr("href", "/perform/detail/board" + (bid[0].board_id) )
}


function draw_cards (number, data) {
  var newdata = JSON.parse(JSON.stringify(data));
  board_len = newdata.boardtb.length
    for (i; i < number; i++) {
      if (board_len == i) {
            break;
          }
    var firstdata = addProperty(newdata, i);
    createCard(firstdata, board_len, i);
    
    postInst(firstdata, board_len, i, boardinst_json)
  }
  num = num + 2
}

</script>


<script id="hb_instsrc" type="text/x-handlebars-template">
  {% raw %}
  {{# each boardinst}}
  <div class="c_part col-lg-4" style="padding : 0px;">
    <span class="badge my-1" style="font-size:17px; background-color: rgb(229, 202, 155); height:30px; width:135px">
      {{instrument_name}} <span class="badge ml-2" style="background-color:rgb(255, 255, 255); color:rgb(229, 202, 155)!important;">{{person}}</span>
    </span>
  </div>
  {{/each}}
  {% endraw %}
</script>



<script>
function eee(sourceId, data, resultId){
  var source = document.getElementById(sourceId).innerHTML
  var template = Handlebars.compile(source);
  var html = template(data);
  document.getElementById(resultId).innerHTML = html;
}

function log_in (button_id) {
    if(confirm("로그인이 필요한 페이지 입니다.\n로그인하시겠습니까?") == true){
        $('#log_in').modal('show')
    }
    else{
        return ""
    }
}

function pf_detail (board_id) {
  var button_id= "#detail" + board_id
  $.ajax({ 
    url : "/perform/detail/board" + board_id,
    data : "",
    type : 'GET',
    dataType : ''
    }).done(function (res){
      if (res == "notlogin") {
        log_in(button_id)
      }
      else {
        window.location.href = 'http://localhost:5000/perform/detail/board' + board_id
      }
  })
}

</script>


{% endblock %}