<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calendar</title>
    <script type="text/javascript" src="../static/js/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <style>
        table {
            border-top : 2px solid rgba(252, 182, 90, 0.438);
            text-align: center;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 2px solid rgba(252, 182, 90, 0.438);
            font-size: 20px;
            
        }
        td:hover{
            cursor: pointer;
        }
        th:nth-child(1), td:nth-child(1){
            color: rgba(252, 182, 90, 1);
        }
        th:nth-child(7), td:nth-child(7){
            color: rgba(252, 182, 90, 1);
        }
        thead {
            align-content: center;
        }
        #lastmonth:hover, #nextmonth:hover{
            color:lightsalmon;
            cursor: pointer;
        }

</style>
    </style>
</head>
<body>
    <div id="cal">
    </div>
    <script id="calensrc" type="text/x-handlebars-template">
        <table id="calendar">
            <thead id="calhead">
                <div>
                    <span id="year">{{thisyear}}</span><span>년</span>
                </div>
                <div>
                    <span id="lastmonth" onclick="lastmonth()">◀</span>
                    <span id="cmonth">{{thismonth}}</span><span>월</span>
                    <span id="nextmonth" onclick="nextmonth()">▶</span>
                </div>
            </thead>
            <tbody>
                <tr>
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
                {{#mod7 days}}{{day}}{{/mod7}}
            </tbody>
        </table>
    </script>
    <script>
        var d = new Date();
        var tyear = d.getFullYear();
        var tmonth = d.getMonth() + 1;
        var caldata = {
                    days:[],
                    thisyear:"",
                    thismonth:""
            };
        var monarr = [4, 6, 9, 11];
        // caldata 만들기
        function insertdate(thisyear, thismonth){
            var fir = new Date(thisyear+"-"+thismonth+"-1")
            caldata.thisyear = thisyear
            caldata.thismonth = thismonth
            addnulltd = Number(fir.getDay())
            // 평년
            console.log(leafYearCheck(thisyear))
            if (leafYearCheck(thisyear) == false){
                if (monarr.includes(thismonth)){
                    for (i=1-addnulltd; i<=30; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                } else if (thismonth == 2){
                    for (i=1-addnulltd; i<=28; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                } else{
                    for (i=1-addnulltd; i<=31; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                }
            // 윤년
            }else{
                if (monarr.includes(thismonth)){
                    for (i=1-addnulltd; i<=30; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                } else if (thismonth == 2){
                    for (i=1-addnulltd; i<=29; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                } else{
                    for (i=1-addnulltd; i<=31; i++){
                        if (i<=0){
                            caldata.days.push({day:""})
                        } else{
                            caldata.days.push({day: i});
                        }
                    }
                }
            }
            return caldata
        }
        // 연도, 월 반영한 caldata 생성
        caldata = insertdate(tyear,tmonth)
        // tbody부분 그리는 helper 등록
        Handlebars.registerHelper("mod7", function(days, options){
            var html = ""
            console.log(days.length)
            for (var i=0, l=days.length; i<l; i++){
                if (i % 7 == 0 ){
                    html = html + "<tr>" + "<td class='cell'>" + options.fn(days[i]) + "</td>"
                }else if( i % 7 == 6){
                    html = html + "<td class='cell'>" + options.fn(days[i]) + "</td>" + "</tr>"
                }else{
                    html = html + "<td class='cell'>" + options.fn(days[i]) + "</td>"
                }
            }
            return html
        });
        console.log(caldata)
        // 윤년체크
        function leafYearCheck(thisyear){
            var int_year;
            int_year = Number(thisyear);
            var lyc = 0
            if( int_year%4 == 0 ){
                if( int_year%100 == 0 ){
                    if( int_year%400 == 0 ){
                        return true; 
                    }
                    return false;
                }
                return true;        
            }
            return false;
        }
        function calen(sourceId, caldata, resultId){
            var source = document.getElementById(sourceId).innerHTML
            var template = Handlebars.compile(source);
            var html = template(caldata);
            document.getElementById(resultId).innerHTML = html;
        }
        calen("calensrc", caldata, "cal")

        function lastmonth(){
            caldata.days = []
            if (tmonth == 1){
                tmonth = tmonth + 11;
                tyear = tyear - 1;
                insertdate(tyear, tmonth);
                calen("calensrc", caldata, "cal")
            } else {
                tmonth = tmonth - 1;
                insertdate(tyear, tmonth);
                calen("calensrc", caldata, "cal")
            }
        }
        function nextmonth(){
            caldata.days = []
            if (tmonth == 12){
                tmonth = tmonth - 11;
                tyear = tyear + 1;
                insertdate(tyear, tmonth);
                calen("calensrc", caldata, "cal")
            } else {
                tmonth = tmonth + 1;
                insertdate(tyear, tmonth);
                calen("calensrc", caldata, "cal")
            }
        }
        
        $(document).ready(function(){
            $(".cell").click(function(){
                $(this).css("background-color", "grey");
                var selday = ""
                selday = $("#year").text() + "-" + $("#cmonth").text() + "-" + $(this).text()
                console.log(selday)
            });
        });
    </script>
</body>
</html>